In [ ]:
# Open files to check the data

import pandas as pd

path = "/Users/mariamorazamora/Downloads/"

reviews = pd.read_csv(path + "reviews.csv")
calendar = pd.read_csv(path + "calendar.csv")
listings = pd.read_csv(path + "listings.csv")

In [2]:
# Check the data

reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,48154,117554,2010-10-12,180238,Martha,Toni's place was perfect in so many ways. It ...
1,48154,145645,2010-11-28,204240,Mark,Awesome stay!! We'd recommend Toni's apartment...
2,48154,190572,2011-03-01,258565,Domenico,really nice house in a wonderfull position! yo...
3,48154,195081,2011-03-08,213496,Romina & Martín,"Apartamento muy agradable, al igual que su pro..."
4,48154,218435,2011-04-05,340330,Jenna,"Was a great apartment, easy access to the site..."
...,...,...,...,...,...,...
405025,1504733249256762074,1514471314508913781,2025-09-20,525122895,Alex,"Het appartement was geweldig, fijne lokatie in..."
405026,1510081689361956872,1516580931973236287,2025-09-23,189096452,Marcos,"todo muy bien, lo recomiendo"
405027,1510742831916234236,1516659592553285100,2025-09-23,284767483,Cem-Kaan,Das Penthouse war absolut exzellent – ein echt...
405028,1511011655639848026,1513877915190428616,2025-09-19,115416651,Leticia,This place is next to the beach but the neigh...
405029,1511011655639848026,1514454866572706462,2025-09-20,719681112,Emily,Me encanta ti muy limpio y fácil de encontrar

In [3]:
calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2053439,2025-09-24,f,NaN,NaN,3,30
1,2053439,2025-09-25,f,NaN,NaN,3,30
2,2053439,2025-09-26,t,NaN,NaN,3,30
3,2053439,2025-09-27,f,NaN,NaN,3,30
4,2053439,2025-09-28,f,NaN,NaN,3,30
...,...,...,...,...,...,...,...
2863055,8770808,2026-09-19,f,NaN,NaN,3,365
2863056,8770808,2026-09-20,f,NaN,NaN,3,365
2863057,8770808,2026-09-21,f,NaN,NaN,3,365
2863058,8770808,2026-09-22,f,NaN,NaN,3,365
2863059,8770808,2026-09-23,f,NaN,NaN,3,365

In [4]:
listings

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,48154,https://www.airbnb.com/rooms/48154,20250923203019,2025-09-24,city scrape,Precioso apartamento con wifi,Second floor on a farm from the late 19th cent...,Very close neighborhood to the city's old town...,https://a0.muscache.com/pictures/1109085/9c0d4...,219476,...,4.80,4.52,4.52,VT-41540-V,f,4,4,0,0,1.08
1,137143,https://www.airbnb.com/rooms/137143,20250923203019,2025-09-24,city scrape,PENTHOUSE ON FRONT LINE BEACH,NaN,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,670775,...,5.00,4.00,4.00,VT32745V,f,5,5,0,0,0.01
2,149715,https://www.airbnb.com/rooms/149715,20250923203019,2025-09-24,city scrape,1900 Style Valencian Beach Home for 10px,Typical town house with 5 bedrooms and 4 bathr...,"Surrounded by historic houses, authentic res...",https://a0.muscache.com/pictures/808b4883-c57f...,5947,...,4.89,4.63,4.62,ESFCTU000046025000580569000000000000000000VT-3...,f,1,1,0,0,1.81
3,165971,https://www.airbnb.com/rooms/165971,20250923203019,2025-09-24,city scrape,★ Architectural touch! ★,"Hola! I am ready to welcome you in my apt., wh...",Just outside the old city centre (one block aw...,https://a0.muscache.com/pictures/10878830/ade6...,791187,...,4.88,4.84,4.84,VT-32757-V,t,8,8,0,0,3.34
4,182221,https://www.airbnb.com/rooms/182221,20250923203019,2025-09-24,city scrape,Apartments Calatrava City Valencia,NaN,NaN,https://a0.muscache.com/pictures/1161513/9f7ac...,1315567,...,4.67,4.33,4.44,VT-38755-V,f,1,1,0,0,0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7839,1512890541606203698,https://www.airbnb.com/rooms/1512890541606203698,20250923203019,2025-09-24,city scrape,Apartamento familiar,"This special place is close to everything, mak...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,719445669,...,NaN,NaN,NaN,VT-082345-V,f,1,1,0,0,NaN
7840,1513129542493588113,https://www.airbnb.com/rooms/1513129542493588113,20250923203019,2025-09-24,city scrape,"2 Habitación privada cerca del centro, wifi, m...","Rest in a private and functional room, equippe...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,719672175,...,NaN,NaN,NaN,BAP153962V,f,2,0,2,0,NaN
7841,1513797288967204559,https://www.airbnb.com/rooms/1513797288967204559,20250923203019,2025-09-24,city scrape,1 Habitación Céntrica Metro Segura con Llave,"⭐️ Rest in a private and functional room, equi...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,719672175,...,NaN,NaN,NaN,BAP153962A,f,2,0,2,0,NaN
7842,1514333702066164803,https://www.airbnb.com/rooms/1514333702066164803,20250923203019,2025-09-24,city scrape,Habitación 2,Enjoy the simplicity of this quiet and central...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,682595718,...,NaN,NaN,NaN,VT 14304256 V,f,3,0,3,0,NaN
7843,1514336330133264750,https://www.airbnb.com/rooms/1514336330133264750,20250923203019,2025-09-24,city scrape,Suite Embajador No. 3 - Casa del Patriarca,"Suite at the Casa del Patriarca hotel, perfect...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,284433465,...,NaN,NaN,NaN,CVH00133V,f,1,0,1,0,NaN

In [ ]:
# Check for NaN values

reviews.isna().sum()

listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     1
comments         21
dtype: int64

In [7]:
calendar.isna().sum()

listing_id              0
date                    0
available               0
price             2863060
adjusted_price    2863060
minimum_nights          0
maximum_nights          0
dtype: int64

In [8]:
listings.isna().sum()

id                                                0
listing_url                                       0
scrape_id                                         0
last_scraped                                      0
source                                            0
                                               ...
calculated_host_listings_count                    0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                               977
Length: 79, dtype: int64